* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}
section {
    position: relative; 
    width: 100%;
    min-height: 100vh; 
    padding: 100px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #161616;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2e; 
    clip-path: circle(70% at right -20%);
}
header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
   position: relative; 
   max-width: 150px;
}
header .navigation {
    position: relative; 
    display: flex;
}
header .navigation li {
   list-style: none;
}
header .navigation li a {
    display: inline-block;
    color: #fff;
    margin-left: 40px;
    font-weight: 500;
    text-decoration: none;
}
.content {
    position: relative;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textBox h2 {
    color: #fff;
    font-size: 3em; 
    line-height: 1.4em;
    margin-bottom: 10px;
    font-weight: 700;
}
.content .textBox p {
    color: #fff;
    line-height: 1.3em;
}
.content .textBox a {
    display: inline-block;
    background-color: #e51e2e;
    color: #fff;
    padding: 8px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 40px;
    letter-spacing: 1px;
}
.sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.sci li a:hover {
    background-color: #e51e2e;
    transform: translateY(-15px);
}
.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}

/*    S L I D E R     */

.swiper {
    width: 100%;              /* swiper je unutar klase .imgBox */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 450px;
    display: flex; 
    justify-content: center;
  }
  .swiper-slide img {
      position: absolute; 
      bottom: 0;
      max-height: 100%;
  }
  .content .imgBox {
      max-width: 500px; 
      display: flex;
      justify-content: flex-end;
  }
  .content .imgBox img {
     max-width: 150px;
  }
  .swiper-3d .swiper-slide-shadow-left, 
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}
@media (max-width: 991px) {
    section {
        padding: 150px 40px;       
    }
    header {
        padding: 40px;            
       
    }
    .sci {
        left: 40px;
    }
    .content {
        flex-direction: column;
    }
    .content .textBox, 
    .content .imgBox {
        max-width: 100%;
    }
    .swiper-slide {
        height: 300px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        background: #e51e2a;
        display: flex;
        z-index: 10;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center; 
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
      }
      header .navigation li a {
        margin: 15px; 
        font-size: 1.5em;
        font-weight: 300;
    }
}
